fastapi
uvicorn[standard]
python-dotenv
groq
openrouter
openai

llama-index-llms-anthropic

llama-index-core
llama-index-llms-groq
llama-index-llms-openrouter
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma

einops
sentence-transformers

tf-keras

chromadb

tree-sitter==0.20.4
tree-sitter-python
tree-sitter-javascript
tree-sitter-typescript
tree-sitter-java
tree-sitter-cpp
tree-sitter-c-sharp
tree-sitter-go
tree-sitter-rust
tree-sitter-ruby

requests