fastapi
uvicorn[standard]
python-dotenv
groq
openrouter
openai

llama-index-core
llama-index-llms-groq
llama-index-llms-openrouter
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma

einops 

tf-keras

chromadb

tree-sitter
tree-sitter-python
tree-sitter-javascript
tree-sitter-typescript
tree-sitter-java
tree-sitter-cpp
tree-sitter-c-sharp
tree-sitter-go
tree-sitter-rust
tree-sitter-ruby
